body {
	width: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	color: #6b8e6e;
	font-weight: bold;
	background-color: #f4eceb;
}

h1 {
	color: #6b8e6e;
	font-size: 30px;
}

rect {
	/* fill: white; */
	fill-opacity: 1;
	cursor: pointer;
}

.axis {
	font-size: smaller;
}

/* Stijling van de pop up waarin de data te zien is (hover state) */
#tooltip {
	position: absolute;
	width: 200px;
	height: auto;
	padding: 10px;
	font-weight: normal;
	background-color: #6b8e6e;
	-webkit-border-raadius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	align-items: center;
	text-align: center;
}

#tooltip.hidden {
	display: none;
}

#tooltip p {
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: white;
}

.highlight {
	opacity: 0.7;
	cursor: pointer;
}

input[type='radio'] {
	margin-right: 5px;
	cursor: pointer;
}

.radio label {
	padding-right: 10px;
}

.filterEnTitel {
	width: 100%;
	text-align: center;
	margin-bottom: 2em;
}

.stijl {
	display: flex;
	font-size: 13px;
}
